# Quartus build outputs
db/
incremental_db/
output_files/
sim/
greybox_tmp/

# Backup files
*.bak
*.txt.bak
*.qsf.bak

# Quartus metadata
*.jdi
*.qdf
*_description.txt
*.ipregen.rpt

# Quartus IP editor temporary files
.qsys_edit/

# Other
*.tcl

.claude/
*context.txt
